#filter-library {
  float: right;
  width: 200px;
  position: relative;
  top: 5px;
}

ul {
  list-style:none;
  padding-left: 0;
  min-height: 150px;
  border: 2px dashed #282828;
  border-radius: 4px;
  padding: 5px;
}

li {
  border-color: #282828;
  margin-bottom: 20px;
  background-color: #222222;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  padding: 10px 16px;
  cursor: pointer;
  transition: background-color 0.5s;
}

/*
  When a song is hovered, animate its background color
  to a lighter grey over 0.5s, using CSS selectors.
*/

li:hover {
  background-color: #555555;
}

li .fa-bars {
  margin-right: 10px;
  cursor: move;
}

/*
  Make the songs' delete icons have a default opacity of 0.3.
  When your mouse hovers over a song, animate its delete
  icon's opacity to 1 using CSS transitions. (Hint: The
  ":hover" CSS Selector may be helpful)
*/

li .fa-trash {
  float: right;
  cursor: pointer;
  position: relative;
  top: 2px;
  opacity: 0.3;
  transition: opacity 0.5s;
}

li .fa-trash:hover {
  opacity: 1;
}

li .notes {
  margin-left: 22px;
  margin-top: 10px;
  display: block;
  background-color: #444;
  color: #999;
  padding: 5 12px;
  border-radius: 4px;
  font-family: monospace;
}

.alert {
  margin-top: 20px;
  display: none;
  text-align: center;
}

/* Add Your Styles Here */

@-webkit-keyframes shake {
  0% { -webkit-transform: rotate(0deg); }
  10% { -webkit-transform: rotate(50deg); }
  11% { -webkit-transform: rotate(60deg); }
  12% { -webkit-transform: rotate(50deg); }
  13% { -webkit-transform: rotate(60deg); }
  30% { -webkit-transform: rotate(-50deg); }
  31% { -webkit-transform: rotate(-60deg); }
  32% { -webkit-transform: rotate(-50deg); }
  33% { -webkit-transform: rotate(-60deg); }
  50% { -webkit-transform: rotate(50deg); }
  51% { -webkit-transform: rotate(60deg); }
  52% { -webkit-transform: rotate(50deg); }
  53% { -webkit-transform: rotate(60deg); }
  70% { -webkit-transform: rotate(-50deg); }
  71% { -webkit-transform: rotate(-60deg); }
  72% { -webkit-transform: rotate(-50deg); }
  73% { -webkit-transform: rotate(-60deg); }
  90% { -webkit-transform: rotate(50deg); }
  91% { -webkit-transform: rotate(60deg); }
  92% { -webkit-transform: rotate(50deg); }
  93% { -webkit-transform: rotate(60deg); }
  100% { -webkit-transform: rotate(0deg); }
}

#play-button.shake {
  -webkit-animation: shake 5s;
}

@-webkit-keyframes dance {
  0% { -webkit-transform: translateX(0px) translateY(0px); }
  8% { -webkit-transform: translateX(50px) translateY(-50px); }
  17% { -webkit-transform: translateX(100px) translateY(0px); }
  25% { -webkit-transform: translateX(150px) translateY(-50px); }
  33% { -webkit-transform: translateX(200px) translateY(0px); }
  42% { -webkit-transform: translateX(250px) translateY(-50px); }
  50% { -webkit-transform: translateX(300px) translateY(0px); }
  58% { -webkit-transform: translateX(250px) translateY(-50px); }
  67% { -webkit-transform: translateX(200px) translateY(0px); }
  75% { -webkit-transform: translateX(150px) translateY(-50px); }
  83% { -webkit-transform: translateX(100px) translateY(0px); }
  92% { -webkit-transform: translateX(50px) translateY(-50px); }
  100% { -webkit-transform: translateX(0px) translateY(0px); }
}

.dance {
  -webkit-animation: dance 3s;
}